### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json


# dotenv environment variables file
.env
.env.test
.env.production

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
fridge_app/api/credentials.py
fridge_app/fridge_app/credentials.py
fridge_app/items/credentials.py
*.sqlite3
fridge_app/db.sqlite3
fridge_app/frontend/static/frontend/main.js
fridge_app/frontend/static/frontend/main.js.LICENSE.txt
fridge_app/frontend/static/frontend/main.js
fridge_app/frontend/static/frontend/main.js.LICENSE.txt
